@font-face {
    font-family: Robotto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    font-family: Robotto, sans-serif;
}

#main-container {
    margin-left: 20%;
    margin-right: 20%;
}

#material-list {
    list-style: none;
}

/* Connection page */
#connection-box {
    font-family: Robotto, sans-serif;
    border: solid 1px;
    display: flex;
}

.center {
    text-align: center;
}

#list-agent {
    list-style: none;
}
